.wrapper {
  width: 600px;
  display: flex;
  background-color: brown;
  padding: 12px;
  border-radius: 12px;
  margin: 0 auto;
}
.answer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  margin: 0px;
  margin-left: auto;
  margin-right: 22px;
}
button {
  margin: 10px;
  padding: 10px;
  border-style: none;
  border-radius: 20px;
  color: rgb(3, 22, 38);
  background-color: aqua;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

button:hover {
  color: #c3447a;
  background-color: aliceblue;
}

.question h2 {
  font-size: 20px;
  margin-bottom: 50px;
  color: lightblue;
}

.question p {
  font-size: 35px;
  color: #34568b;
  font-weight: 700;
}

.question {
  /* border: 2px solid red; */
  width: 50%;
}
