body {
  background-color: #1f1f1f;
  font-weight: bold;
}
.btn {
  background-color: blueviolet;
  border-style: none;
  outline: none;
  font-weight: 700;
  margin-top: 12px;
}
.card {
  padding: 12px;
  background-color: white;
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
  max-width: 600px;
  margin-top: 34px;
  border-radius: 8px;
}
label {
  display: block;
  margin: 5px;
}
input,
.btn {
  border-radius: 5px;
  padding: 0.3rem 0.9rem;
}
.btn:hover {
  background-color: rgb(255, 255, 255);
  opacity: 0.1;
}

input {
  width: 80%;
}

li {
  list-style: none;
  border: 1px solid #232323;
  padding: 0;
  margin-top: 12px;
  padding: 12px;
  border-radius: 8px;
}

ul {
  padding: 0;
}
.header {
  background-color: rgb(103, 21, 103);
  margin-top: 0px;
  color: white;
  border-radius: 5px;
  padding: 8px;
  width: 90%;
  margin-left: 0px;
}
h2 {
  margin: 0 0;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 250px;
  left: 205px;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
